:root {
  --primary-color: #000;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

main {
  margin-top: 50px;
  padding: 20px;
}

.track-title {
  font-size: 5rem;
  font-weight: 700;
}

.audio-list-item {
  width: fit-content;
}

#audio-list {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(0, auto);
  gap: 0px;
  padding: 0px;
}

/* Style for dot */
.dot {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  cursor: pointer;
}

/* Style for hover effect */
.dot:hover,
.active-dot {
  background-color: var(--primary-color);
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
